<article>
  <h4>更新日時：<%= article.created_at %></h4>
  <h1>タイトル：<%= article.title %></h1>
  <h3>カテゴリー：<%= article.category %></h3>
  <h4>書いた人：<%= article.user.nickname %></h4>
  <h4>記事の状態：<%= article.state %></h4>
  <h4><%= link_to '編集', "/articles/#{article.id}/edit" %>
  <h4><%= link_to '削除', "/articles/#{article.id}", method: :delete %></h4>
  <section>
    <%= article.article %>
  </section>
</article>
