<header>
  <h1>神奈川デバッカーの仕様書</h1>
  <h2>wikiっぽく、ちょっとずつプログラミングについて書くよ</h2>
  <h3>組み込みシステム/C/C++/Linuxが中心</h3>
</header>

<div class="footer-wrapper">
  <div class=flex-wrapper>
    <nav class="sidebar">
      <ul>
        <li>トップページ</li>
        <li>記事一覧(カテゴリ別)</li>
        <li>更新履歴</li>
        <li>サイト内検索</li>
        <li>スクレイピング結果</li>
        <li>管理人プロフィール</li>

        <% if user_signed_in? %>
          <li>
            <%= link_to "記事を作成する", new_article_path %>
          </li>

          <li>
            <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
          </li>

        <% elsif %>
          <li>
            <%= link_to "ログイン", new_user_session_path %>
          </li>

          <li>
            <%= link_to "新規登録", new_user_registration_path %>
          </li>
        <%end %>
      </ul>
    </nav>

    <main>
      <article>
        <h4>更新日時：</h4>
        <h1>タイトル：</h1>
        <h3>カテゴリー：</h3>
        <h4>書いた人：</h4>
        <h4>記事の状態：</h4>
        <section>
          マークダウンで記事を書けるようにします。
          調整中になります。
        </section>
      </article>
      <%= paginate(@articles) %>
    </main>
  </div>
  <footer>
    (c) 2019/08/11 神奈川デバッカー
  </footer>
</div>
