<article>
  <ul>
    <li><h4>タイトル：<%= @article.title %></h4></li>
    <li>更新日時：<%= @article.created_at.strftime('%Y年%-m月%-d日 %-H時%-M分%-S秒') %></li>
    <li>カテゴリー：<%= @article.category %></li>
    <li>作成者：<%= @article.user.nickname %></li>
    <li>記事の状態：<%= @article.state %></li>
    <% if user_signed_in? && current_user.id == @article.user_id %>
      <li><%= link_to '編集', "/articles/#{@article.id}/edit" %></li>
      <li><%= link_to '削除', "/articles/#{@article.id}", method: :delete %></li>
    <% end %>
  </ul>
  <section>
    <%= @article.article %>
  </section>
</article>

<レビューする>
<%= form_for [@article, @comment] do |f| %>
  <%= f.label :nickname, '投稿者：' %>
  <%= f.text_field :nickname %><br>
  <%= f.label :text, '本文：' %><br>
  <%= f.text_area :text %><br>
  <%= f.submit '送信する' %><br><br>
<% end %>

<% unless @comments.count == 0 %>
  <コメント一覧><br>
  <% if @comments %>
    <% @comments.each do |comment| %>
      投稿時間： <%= comment.created_at.strftime('%Y年%-m月%-d日 %-H時%-M分%-S秒')%><br>
      投稿者： <%= comment.nickname %><br>
      内容：<br>
      <%= simple_format(comment.text) %><br><br>
    <% end %>
  <% end %>
<% end %>
