<!DOCTYPE html>
<html>
  <head>
    <title>homepage</title>
    <%= favicon_link_tag 'animal_chara_computer_neko.png' %>

    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <%= link_to(articles_path) do %>
        <h5>homepage</h5>
      <% end %>
      <h5>アウトプット</h5>
    </header>

    <div class="footer-wrapper">
      <div class=flex-wrapper>
        <nav class="sidebar">
          <ul>
            <%= link_to(articles_path) do %>
              <li>トップページ</li>
            <% end %>
            <li>
              <%= link_to "記事一覧", list_articles_path %>
            </li>

            <li>サイト内検索</li>
            <li>管理人プロフィール</li>

            <% if user_signed_in? %>
              <li>
                <%= link_to "記事を作成する", new_article_path %>
              </li>

              <li>
                <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
              </li>

            <% elsif %>
              <li>
                <%= link_to "ログイン", new_user_session_path %>
              </li>

              <!--
              <li> -->

                <%#= link_to "新規登録", new_user_registration_path %>

              <!--
              </li> -->

            <%end %>
          </ul>
        </nav>

        <main>
          <%= yield %>
        </main>

      </div>
      <footer>
        (c) 2020 homepage
      </footer>
    </div>
  </body>
</html>
